.game-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#game-board {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
}

#game-board[data-completed="true"] {
    opacity: 40%;
}

#dice-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#dice-list {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 8px;
    gap: 4px;
    flex-wrap: wrap;
    max-width: 400px;
}

#game-actions {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#targets {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
    border: 1px solid black;
    padding: 8px;
}

.dice-and-lock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 4px;
}

.dice-value, .coin-value {
    border: 2px solid black;
    border-radius: 3px;
    aspect-ratio: 1;
    display: inline-block;
    text-align: center;
    height: 32px;
    line-height: 28px;
    font-weight: bold;
    box-sizing: border-box;
}

.coin-value {
    border-radius: 50%;
}

.dice-value.small, .coin-value.small {
    height: 24px;
    width: 24px;
    line-height: 20px;
}

.target {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.target-info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.target-result {
    max-width: 240px;
    overflow-x: hidden;
    position: relative;
}

.overflow-gradient {
    content: '';
    position: absolute;
    right: 0px;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.77) 53%, rgba(255, 255, 255, 1) 100%);
    height: 100%;
    aspect-ratio: 1;
}

.target-score {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    height: 24px;
    min-width: 24px;
    line-height: 24px;
}

button.target-score.placeholder {
    color: #888;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}

button.target-score.placeholder:hover {
    color: #44f;
    font-weight: bold;
}

.inc-dec {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.inc-dec-button {
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: 12px;
    font-size: 12px;
}
