div[role="tablist"] {
    gap: 4px;
    position: relative;
}

div[role="tablist"]::after {
    content: '';
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: grey;
    height: 1px;
    z-index: -1;
}

button[role="tab"] {
    padding: 4px 8px;
    border: 1px solid grey;
    cursor: pointer;
}

button[role="tab"][aria-selected="true"] {
    border-bottom-color: white;
}