div[role="tablist"] {
    gap: 4px;
    position: relative;
}

div[role="tablist"]::after {
    content: '';
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: grey;
    height: 1px;
    z-index: -1;
}

button[role="tab"] {
    padding: 6px 12px;
    border: 1px solid grey;
    cursor: pointer;
    border-start-end-radius: 4px;
    border-start-start-radius: 4px;
}

button[role="tab"][aria-selected="true"] {
    border-bottom-color: white;
    text-decoration: underline;
    text-decoration-color: #48f;
}