ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

ul.inline {
    flex-direction: row;
    justify-content: center;
}

li {
    list-style-type: none;
}