.App {
  padding: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap-4px {
  gap: 4px;
}

.gap-8px {
  gap: 8px;
}

label {
  width: fit-content;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

div[data-hidden="true"] {
  visibility: hidden;
}
